{% extends "base.html" %}
{%block content%}
<ul>
{% for room in rooms %}
<li>
    <h3><a href="{% url 'room' room.roomName %}">{{room.roomName}} made by: {{room.roomCreator.username}}</a></h3>
    {% if user.username != 'Guest' %}
        <a href="{% url 'leaveRoom' room.roomName %}">Leave room</a>
        {% if user == room.roomCreator %}
            <a href="{% url 'editRoom' room.roomName %}">edit room</a>
        {%endif%}    
    {%endif%}
</li>
{%endfor%}    
</ul>
{% if user.username != 'Guest' %}
    <a href="{% url 'createRoom'%}">creator new room</a>
{%endif%}

{%endblock%}  