{% extends "base.html" %}
{%block content%}
<form method="post" action="">
    {% csrf_token %}
    {{form}}
    <input type="submit" value="confirm"/>
</form>
<ul>
    {% for comment in comments %}
    <li>
        <h3>{{comment.creator}}</h3>
        <p>{{comment.comment}}</p>
        <small>{{comment.timecreated}}</small>
        {% if user.username == comment.creator.username  or user.username == room.roomCreator or user.username == room.roomModerator %}
        <a href="{% url 'deleteMessage' comment.commentId %}">Delete</a>
        {%endif%}
    </li>
    {%endfor%}    
</ul>
{% if user.username != 'Guest' %}
    <a href="{% url 'addComment'%}">add comment</a>
{%endif%}
{%endblock%}